.loader {
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  vertical-align: top;
}

/*
  Set the color of the icon
*/
.loader svg path,
.loader svg rect {
  fill: #fff; /* Apply the color only to SVG elements inside .loader */
}
